
<div class="columns is-multiline">
  <% @channels.each do |channel|  %>
   <div class="card column is-3">
          <%= link_to channel_path(channel) do %>
            <header class="card-header">
              <p class="card-header-title">
                <%= channel.title %>
              </p>
            </header>
          <% end %>
      <div class="card-content">
        <div class="content">
          <% if channel.discussions.count > 0 %>
            <ul>
              <% channel.discussions.each do |discussion| %>
                <li> 
                  <%= link_to root_path do %>
                    <div class="channel-discussion-title">
                      <i class="fa fa-comments"></i> 
                      <%= link_to discussion.title, channel_discussion_path(channel, discussion) %>
                    </div>                  
                  <% end %> 
                  
                </li>
              <% end %>
            <ul>
          <% else %>
            <ul>
              <li class="channel-discussion-title-empty">No Discussion For This Channel Yet</li>
            </ul>
            
          <% end %>
          <br>  
        </div>
      </div>
      <footer class="card-footer">
        <%= link_to 'EDIT', edit_channel_path(channel), class:"card-footer-item" %>
        <%= link_to 'Delete', channel_path(channel), class:"card-footer-item", method: :destroy, data: {confirm: 'Are you sure?'}  %>        
        <%= link_to 'Add New Discussion', new_channel_discussion_path(channel) %>
      </footer>
  </div>  
 
  <% end %>
</div>


<br>

<%= link_to 'New Channel', new_channel_path %>
