<p>
  <h2 class="title is-2 has-text-grey">  <%= @channel.title %></h2>

</p>

    <ul> 
       <% @channel.discussions.each do |discussion| %>
         <li> <%= link_to discussion.title, channel_discussion_path(@channel, discussion) %> </li>
       <% end %>
    </ul>

<%= link_to 'New', new_channel_discussion_path(@channel) %> |
<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
       
