<%= render partial: 'layouts/hero_header', locals: {name: @channel.title, color: 'is-warning'} %>


<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Title">Title</abbr></th>
      <th><abbr title="Body">Body</abbr></th>
      <th><abbr title="Author">Author</abbr></th>
      <th><abbr title="Creation Date">Creation Date</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
        <th><abbr title="Title">Title</abbr></th>
        <th><abbr title="Body">Body</abbr></th>
        <th><abbr title="Author">Author</abbr></th>
        <th><abbr title="Creation Date">Creation Date</abbr></th>
      </tr>
  </tfoot>
  <tbody>
    <% @channel.discussions.each do |discussion|%>
      <tr class="discussion-row">
        <th> <%= link_to discussion.title, channel_discussion_path(@channel, discussion) %> </th>
        <th> <%= link_to discussion.body.truncate(30, separator: ' '), channel_discussion_path(@channel, discussion) %> </th>
        <th> <%= discussion.user.email %></th>
        <th> <%= discussion.created_at.strftime("%m/%d/%Y %H:%M") %></th>
      </tr>
    <% end %>
  <tbody> 

</table>

