<% @discussions.each do |discussion| %>
  <article class="message is-dark has-background-white">
    <div class="message-body">
      <p class="author-by">Posted by <%= discussion.user.email %> 
         at <%= time_ago_in_words(discussion.created_at)%> ago
      </p>
      <hr class="author-body-divider">
      <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <%= link_to discussion.title, discussion_path(discussion), class:"discussion-title" %> 
            <br>
            <%= truncate(discussion.body, length: 50 )%>
          </p>
        </div>
  </div>
  </article>
      <% if current_user && current_user == discussion.user %>
        <div class="columns">
          <div class="buttons has-addons column is-4 is-offset-8">
            <%= link_to 'Edit', edit_discussion_path(discussion), class:"button is-outlined is-success is-small" %>
            <%= link_to 'Delete', edit_discussion_path(discussion), class:"button is-outlined is-danger is-small", method: :delete, data: { confirm: 'Are you sure?'} %>
          </div>
        </div>
      <% end %>  
    </div>  
</article>

<% end %>


<br>

<%= link_to 'New Discussion', new_discussion_path %>
