<%= render 'discussion_nav', class:"jsdflkjsdf"%>
<p>
  <strong>Title:</strong>
  <%= @discussion.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @discussion.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @discussion.user.email %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @discussion.channel %>
</p>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
