<%= render partial: 'layouts/hero_header', locals: { name: 'Log in', color: 'is-success' } %>


<div class="container form-container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :email, class:'label' %>
    <div class="control has-icons-left has-icons-right">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input", placeholder:"Email input"%>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fa fa-exclamation-triangle"></i>
      </span>
    </div>
    <br>
    <div class="field">
        <%= f.label :password, class:'label'%>
      <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete:'new-password', placeholder:"Password", class:"input" %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
      <%- if controller_name != 'sessions' %>
      <p class="help is-dark">Minimum 6 character required</p>
      <% end %>
    </div>
    <br>

    <div class="field is-grouped">
      <div class="control">
        <%= f.submit "Submit", class:"button is-link" %>
      </div>
      <div class="control">
        <%= link_to 'Cancel', root_path, class:"button is-text" %>
      </div>
    </div>  

  <% end %>
  </div>

</div>
